on: [push, pull_request]
name: Race
jobs:
  race:
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.17'
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Test race
      run: go test -v -race -timeout 60m ./...
